<!--帯選択ダイアログ-->
<script type="text/ng-template" id="W_SelectObi">
    <div class="modal-body">
        <button type="button" class="close" ng-click="$dismiss()">&times;</button>
        <div>店舗に配置する帯画像を選択してください</div>
       
        <table>
            <tr ng-repeat="i in range(ObiList.length/6)">
                <td ng-repeat="ol in ObiList| limitTo: 6:i*6">
                    <img ng-src="{{ol.ImgPath}}" style="width:100%;cursor:pointer" ng-click="returnObiInfo(ol)" />
                </td>
            </tr>
        </table>
    </div>
</script>

<div ng-init="initDisp()" >
    <h2 ng-show="!ShopInfo.ShopId">仮想書店：新規作成</h2>
    <div ng-show="ShopInfo.ShopId" class="col-xs-12">
        <h2 >仮想書店：編集 </h2>
        <input type="button" value="この仮想書店を削除" ng-click="deleteShop()" style="text-align:right">
    </div>
   
    <div class="col-xs-12">
        <h5>書店名</h5>
        <input type="text" ng-model="ShopInfo.ShopName"  maxlength="20" size="20" name="ShopName"/>
    </div>
    <br>
    <div class="col-xs-12">
        <h5>書店の説明</h5>
        <textarea ng-model="ShopInfo.ShopComment" cols="100" rows="5"></textarea>
    </div>
    <div class="col-xs-12">
        <h5>
            背景画像
        </h5>
            <input type="radio" value="0" ng-model="ShopInfo.BackImg" ng-checked="true" style="vertical-align:top" id="chkBkImg0"/>
            <label for="chkBkImg0" style="width:15%"><img src="img/shopBg/bg0.jpg" style="width:100%" class="afterCheck" /></label>
            <input type="radio" value="1" ng-model="ShopInfo.BackImg" style="vertical-align:top" id="chkBkImg1"/>
             <label for="chkBkImg1" style="width:15%"><img src="img/shopBg/bg1.jpg" style="width:100%" class="afterCheck" /></label>
            <input type="radio" value="2" ng-model="ShopInfo.BackImg" style="vertical-align:top" id="chkBkImg2"/>
             <label for="chkBkImg2" style="width:15%"><img src="img/shopBg/bg2.jpg" style="width:100%" class="afterCheck" /></label>
    </div>
    <br>
    <br>
    <div class="col-xs-12">
        <h5>
            仮想書店に配置するMy帯本
        </h5>
        <div ng-repeat="sol in ShopInfo.ShopObiList">
            <div class="col-xs-3" style="height:250px">
                {{$index+1}}{{sol.BookTitle}} {{sol.Author}}
                <img class="icn" src="img/icn/magnifying-glass.png" alt="選択" ng-click="dispSelectObiWindow($index)"/>
                <img class="icn" src="img/icn/error.png" alt="削除" ng-click="removeObiInfo($index)" />
                <div style="margin-top:10px"> 
                    <img ng-src="{{sol.ObiInfo.ImgPath}}" style="max-width:100%;max-height:200px">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <input type="button" value="登録" ng-click="btnRegistObiClick()" class="decolatedBtn" />
    </div>

</div>