<div ng-init="init()"> 
    <div>
        <p>{{loginInfo.Name}}　さんのマイページ</p>
    </div>

    <h3>仮想書店一覧</h3>
    <div style="text-align:left;width:100%" class="col-xs-12">       
        <div ng-repeat="s in MyShopList">
            {{s.ShopName}}
            <input type="button"ng-click="toShop(s.ShopId)" value="公開ページ"/>
            <input type="button" ng-click="toEditShop(s.ShopId)" value="編集ページ"/>
        </div>
    </div>

    <h3>作成した帯</h3>
    <div ng-repeat="o in ObiList" class="col-xs-2" ng-click="DispWiondowOpen(o)" style="margin:10px;cursor:pointer">
        <img src="{{o.ImgPath}}" style="width:100%"/>
    </div>
     
    
    <div style="text-align:left;width:100%" class="col-xs-12">
        <a>個人設定</a>
    </div>
</div>

<!--表示ダイアログ-->
<script type="text/ng-template" id="W_Disp">
    <div class="modal-body">
        <button type="button" class="close" ng-click="$dismiss()">&times;</button>
        <div>{{Detail.BookTitle}} </div>
        <div>{{Detail.Author}}</div>
        <div>{{Detail.Publisher}}</div>
        <div style="width:100%;text-align:center;vertical-align:middle">
            <img ng-src="{{Detail.ImgPath}}" style="width:90%;" />
        </div>
        <div style="height: 60px;">
            <a  ng-click='ToRakutenPage(Detail.Link)'> 楽天商品ページ</a>
            <input type="button" ng-click="DeleteObi(Detail.ObiId)" style="float:right;margin-top:5px" value="削除" class="decolatedBtn">
        </div>
    </div>
</script>