<style>
    .bookSelect{
        cursor:pointer;
        padding:2px;
        margin:2px;
    }
    .bookSelect :hover{
       border:dotted 1px;
    }
</style>
<div class="post">
    <h2>帯画像を作成する書籍を選んでください。</h2>
    <h5>※ 書籍によっては表紙画像の画質が粗いことがあります。ご了承ください。</h5>
    <div style="margin-bottom:5px;margin-top:5px;font-size:15px" class="col-xs-7">
        タイトル：<input type="text" ng-model="Title" style="width:250px;height:25px">&nbsp;&nbsp;&nbsp;&nbsp;
        著者名：<input type="text" ng-model="Author" style="width:250px;height:25px">
        <br>
        <input type="button" ng-click="SearchBook()" style="float:right" value="検索" class="decolatedBtn">
    </div>
    <div class="col-xs-5"></div>
    <table class="col-xs-12">
        <tr ng-repeat="row in BookInfo">
            <td ng-repeat="info in row" class="col-xs-3">
                <div>
                    <h5>{{info.title}} </h5>
                    <h5>{{info.author}}</h5>
                    <h5>{{info.publisherName}}</h5>
                    <img src="{{info.mediumImageUrl}}"  ng-click="GoToEditObi(info)" class="bookSelect"/>
                </div>
            </td>
        </tr>
    </table>

    <!--ページャー-->
   
    <div style="text-align:center;margin-top:10px" class="col-xs-12">
        <div class="footerborder" style="margin-top:10px" ng-show="Paging"></div>
        <span ng-repeat="p in Paging" >
            <a ng-click="ChangePage(p.No)" class="paging" ng-show="p.No != NowPage"> {{p.No}} </a>
            <span class="paging" ng-show="p.No == NowPage"> {{p.No}} </span>
            <br ng-show="p.No==50">
        </span>
    </div>
   
</div>

